<!-- Core Concepts Section -->
<section class="core-concepts">
    <div class="container">
        <div class="row">
            <!-- SEE Panel -->
            <div class="col-md-6">
                <div class="core-concept-panel">
                    <div class="core-concept-content">
                        <div class="letter-container-right">
                            <div class="letter-group">
                                <span>S</span>
                                <p></p>
                            </div>
                            <div class="letter-group">
                                <span>E</span>
                                <p></p>
                            </div>
                            <div class="letter-group">
                                <span>E</span>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- AIR Panel -->
            <div class="col-md-6">
                <div class="core-concept-panel">
                    <div class="core-concept-content">
                        <div class="letter-container-left">
                            <div class="letter-group">
                                <span>A</span>
                                <p></p>
                            </div>
                            <div class="letter-group">
                                <span>I</span>
                                <p></p>
                            </div>
                            <div class="letter-group">
                                <span>R</span>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 